@page "/admin/users/detail/{Id}"

@attribute [Authorize(Roles = nameof(UserRoles.Admin))]

@inject NavigationManager Nav
@inject MessageService MessageService
@inject IApplicationUsersAdminService ApplicationUsersService
@inject IJSRuntime JS
@inject IRolesService RolesService

<PageTitle>Detail uživatele</PageTitle>

@if (isLoading)
{
    <p>Načítám uživatele…</p>
}
else
{
    <div style="max-width: 700px; margin: 0 auto;" class="mb-3 text-center">
        <h3 class="mb-0">Detail uživatele: @model.FirstName @model.LastName</h3>
    </div>

    <div class="card shadow-sm border-0" style="max-width: 700px; margin: 0 auto;">
        <div class="card-header d-flex justify-content-between align-items-center">
            <button class="btn btn-secondary btn-sm" @onclick="BackToList">
                Zpět na seznam
            </button>

            <button class="btn btn-danger btn-sm" @onclick="OnDeleteAsync">
                Odstranit uživatele
            </button>
        </div>

        <div class="card-body">

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Role</div>
                <div class="col-7">
                    <span class="badge bg-info text-dark">
                        @userRole
                    </span>
                </div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Jméno</div>
                <div class="col-7">@model.FirstName</div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Příjmení</div>
                <div class="col-7">@model.LastName</div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Telefonní číslo</div>
                <div class="col-7">@model.PhoneNumber</div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Email</div>
                <div class="col-7">@model.Email</div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Aktivní</div>
                <div class="col-7">
                    @if (model.Active)
                    {
                        <span class="badge bg-success">Ano</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Ne</span>
                    }
                </div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Datum narození</div>
                <div class="col-7">@model.DateOfBirth.ToString("dd.MM.yyyy")</div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Ulice</div>
                <div class="col-7">@model.Address.Street</div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Číslo domu</div>
                <div class="col-7">@model.Address.NumberOfHouse</div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">PSČ</div>
                <div class="col-7">@model.Address.PostalCode</div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Město</div>
                <div class="col-7">@model.Address.Town</div>
            </div>

            <div class="row detail-row py-2">
                <div class="col-5 fw-bold">Počet objednávek</div>
                <div class="col-7">@model.OrdersCount</div>
            </div>

        </div>
    </div>
}


@code {
    [Parameter]
    public string Id { get; set; } = default!;

    ApplicationUserModel model = new();
    private bool isLoading = true;
    private string userRole = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserAsync();
        await GetUserRoleAsync(Id);
    }

    private async Task LoadUserAsync()
    {
        try
        {
            isLoading = true;
            model = await ApplicationUsersService.GetByIdAsync(Id);
            isLoading = false;
        }
        catch (Exception ex)
        {
            MessageService.ShowError(ex.Message);
            BackToList();
        }
    }

    private async Task GetUserRoleAsync(string userId)
    {
        try
        {
            userRole = await RolesService.GetRoleByUserIdAsync(userId);
        }
        catch(Exception ex)
        {
            MessageService.ShowError(ex.Message);
            BackToList();
        }
    }

    private async Task OnDeleteAsync()
    {
        if (!await JS.ConfirmAction($"Opravdu chcete odstranit uživatele: {model.FirstName} {model.LastName} ?"))
        {
            return;
        }

        try
        {
            await ApplicationUsersService.DeactivateAsync(Id);
            MessageService.ShowSuccess("Uživatel byl úspěšně smazán.");
            BackToList();
        }
        catch (Exception ex)
        {
            MessageService.ShowError(ex.Message);
        }
    }

    private void BackToList()
    {
        Nav.NavigateTo("/admin/users");
    }
}
